body {
    background: #f6f6f6;
    height: 100vh;
    margin:0;
    padding:0;
}

.flex.flex-col.popup-btns {
    width: 80%;
    margin-top: 11%;
    max-width: 588px;
}
.details {
    /* text-align: center; */
    width: 80%;
    display: none;
}
.just-even {
    justify-content: SPACE-EVENLY;
}
.token-container {
    width: 45%;
    background: #030616c7;
    text-align: center;
    /* border-top: 1px solid #1b3cc8; */
    /* margin-top: -10%; */
    font-size: larger;
}

h3#token {
    color: #bfc8f1;
    font-size: larger;
    font-family:monospace;
}
.popup-btns {}

.popup-btns button {
    /* box-shadow: inset 2px 2px 6px 3px black; */
    min-height: 80px;
    /* padding: 1rem; */
    margin: 4% 0;
    font-size: 1.7rem;
    border: none;
    border-radius: 0.7rem;
    transition: scale .4s, color .6s, background 4s;
    transition-timing-function: ease-in-out;
}
.popup-btns button:hover {
    cursor: pointer;
    scale: 103%;
    color: white;
}

button.secondary-btn {
    background: #070e2c;
    /* border: 2px outset #636a8b; */
    color: #3d4773;
    box-shadow: inset 2px 2px 6px 3px #0b1230;
}

button.primary-btn {
    color: #d9dff7;
    background: linear-gradient(292deg, #1738bf 60%, #324dbc);
    box-shadow: -2px 4px 6px 0px black;
    border: 1px inset #2c54ff;
}
button.primary-btn:hover {
    background: linear-gradient(292deg, #2342c0 30%, #0e36d5);
}

svg#svg1 {
    
}
.monda {
  font-family: "Monda", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.whole-flex {
    flex: 1;
}
.flex-row {
    display: flex;
    flex-flow: row nowrap;
    /* height: 50vh; */
}

.flex-col {
    display: flex;
    flex-flow: column nowrap;
}
.flex-1-2 {
    flex:1.2;
}
.just-start{
    justify-content: flex-start;
}
.prioritize-height{
    height:100%;
    width:auto;
}
.prioritize-width{
    width:100%;
    height:auto;
}
img.nav-logo {
    min-width: 220px;
    max-width: 300px;
    width: 15rem;
}

div#navigation {
    background: white;
}
.gallery {
    background: white;

}
.gallery .vector >img {
    max-width: 400px;
}
.margin-2-left { 
    margin-left:2rem;
}
.gallery .displayText h1 {
    color: #00485a;
    font-weight: 100;
    margin:0.12rem 0;

}
.gallery .displayText .order-container{
    padding:1rem 0;
}
.order-container button {
    padding:0.7rem 1.2rem;
    background-color: #e4eced;
    border:none;
    border-radius: 1rem;
}
div:has(h3.subtitle)::after {
    margin-bottom:5em;
}

h3.subtitle {
    font-weight: 500;
    font-size:1.6em;
    text-indent: 8px;

    min-height:5vh;
}
button.dull {
    background-color:#e0e0e0;
    border-radius:0.5rem;
    border:none !important;
}
button.illuminated {
    background-color: #065c71;
    color:White
}
.carousel>.full-thumbnail:not(:first-child) {
    margin-left: 3rem;
}

.full-thumbnail {
    height: 100%;
    border-radius: 2rem;
    background:transparent;
    
}
.full-thumbnail:not(.no-color)  {
    background: linear-gradient(to top right, #09667c, #3d5965), linear-gradient(to bottom right, #09667c, #3d5965);
}
.full-thumbnail>img {
    height: 100%;
}


.carousel {
    width: 100%;
    overflow-x: auto;
    height: 55vh;
}

.just-center {
    justify-content: center;
}

.just-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
div#dynamicCard {
    height: 23vh;
    margin-top: 2rem;
    width: 100%;
    padding: 2rem 0;
}

#dynamicCard svg {
    height: 100%;
}

#colorSelection {
    border-radius: 5rem;
    background-color: #ebebeb;
    margin: 1rem 0 2rem 0;
    padding: 1rem;
    width: fit-content;
} 

#colorSelection button {
    margin: 0 0.4rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
} 
#colorSelection button.selected {
    border:2px solid grey;
    box-shadow: inset 0px 0px 0px 5px lightgrey;

}

#colorSelection button[name="Maroon"] {
    background-color: #942321;
}

#colorSelection button[name="Pink"] {
    background-color: #f9a4cf;
}

#colorSelection button[name="Blue"] {
    background-color: #315c80;
}

button[name="Emerald"] {
    background-color: #158e5e;
}

#colorSelection button[name="Black"] {
    background-color: black;
}

#colorSelection button[name="White"] {
    background-color: white;
}
input[type="text"] {
    padding: 1em;
    flex: 0.90;
    border-radius:1rem;
    border:1px solid lightgrey;
}
.checkout-btn {
    width:100%;
    padding:1rem;
    text-align: center;
    font-size:large;
    margin: 1rem 0;
}

div#loading {
    background: #060c24;
}

.popup {
    width: 100vw;
    height: 100vh;
    position: fixed ;
    top:0;
    left:0;
    
    z-index: 3;
}
#loading path[id^="rung"] {
    fill: black;  
    
}

    
#loading path[id='rung1'] {
    animation-duration: 2s;
    animation-name:toWhite;
    animation-timing-function:linear;
    animation-direction:alternate;
    animation-iteration-count:infinite;
}
#loading path[id='rung2'] {
    animation-duration: 2s;
    animation-name:toWhite;
    animation-timing-function:linear;
    animation-direction:alternate;
    animation-iteration-count:infinite;
    animation-delay: 0.45s;
}
#loading path[id='rung3'] {
    animation-duration: 2s;
    animation-name:toWhite;
    animation-timing-function:linear;
    animation-direction:alternate;
    animation-iteration-count:infinite;
    animation-delay: 1s;
}

    
    
   
@keyframes toWhite{

from {fill: #080d26;stroke: #050a1f;}

to {fill: #dce2ff;stroke: #bdc2d7;}

}
div#welcome {
    box-shadow: 0px 14px 18px 0px hsl(0deg 0% 88.31%);
}

img.prioritize-width {
    margin-top: 1rem;
}

svg#svg8 {
    height: 90% !important;
}

.fixed-pad {
    padding: 0 1rem;
}

.carousel .full-thumbnail:nth-child(3) {
    background: linear-gradient(to bottom right, #09667c, #102129);
}

.carousel .full-thumbnail:nth-child(2) {
    background: linear-gradient(to bottom right, #a6e0ee, #215e78);
}
.carousel .full-thumbnail:nth-child(1) {
    background: linear-gradient(to bottom right, hsl(191deg 18% 62.52%), #4e8299);
}


@media (min-width : 440px) {
    .full-thumbnail {
        flex: 1;

    }

    .full-thumbnail img {
        width: 100%;
        height: auto;
    }

    .carousel {
        height: 50%;
    }

    #dynamicCard svg {
        height: auto;
        width: 440px;
    }
}
@media (min-width : 960px) {
    .gallery .displayText h1 {
        font-size: 5em;
        margin: 0.12rem 0;
        font-weight: 100;
    }

    #welcome >div {
        align-items:center;
    }
}