body {
    background: #f6f6f6;
    height: 100vh;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    /* height: 50vh; */
}

.carousel>.full-thumbnail:not(:first-child) {
    margin-left: 3rem;
}

.full-thumbnail {
    height: 100%;
    border-radius: 2rem;
    background: linear-gradient(to top right, #09667c, #3d5965), linear-gradient(to bottom right, #09667c, #3d5965);
}

.full-thumbnail>img {
    height: 100%;
}


.carousel {
    width: 100%;
    overflow-x: auto;
    height: 55vh;
}

.just-center {
    justify-content: center;
}

.just-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

div#dynamicCard {
    height: 23vh;
    width: 100%;
}

#dynamicCard svg {
    height: 100%;
}

#colorSelection {
    border-radius: 5rem;
    background-color: lightgrey;
    margin: 2rem 0;
    padding: 1rem;
}

#colorSelection button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
}

#colorSelection button.selected {

    box-shadow: inset 0px 0px 0px 5px white;

}

#colorSelection button.red {
    background-color: #942321;
}

#colorSelection button.pink {
    background-color: #f9a4cf;
}

#colorSelection button.blue {
    background-color: #315c80;
}

#colorSelection button.green {
    background-color: #158e5e;
}

#colorSelection button.black {
    background-color: black;
}

#colorSelection button.white {
    background-color: white;
}

@media (min-width : 440px) {
    .full-thumbnail {
        flex: 1;

    }

    .full-thumbnail img {
        width: 100%;
        height: auto;
    }

    .carousel {
        height: 50%;
    }

    #dynamicCard svg {
        height: auto;
        width: 440px;
    }
}